.notification {
  border-style: solid;
  border-radius: 5px;
  color:rgba(48, 143, 36, 0.829);
  font-size: 30px;
  background: lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}